# Python virtualenv
checker/EvaluateAnalyzer/GroundTruthExtractor/.venv/

# Python cache
__pycache__/
*.pyc

# .NET build outputs
bin/
obj/
checker/bin/
checker/obj/
src/bin/
src/obj/

# tmp
tmp/

# Analyzer/checker generated outputs
# output/
# checker/output/

.fake
